.buttonGroup {
    transition: color 0.3s ease-in-out;
}

.buttonGroup:hover {
    background: #bcc6cf;
}

.listItem {
    width: 100%; /* Устанавливаем фиксированную ширину */
    max-width: 300px; /* Ограничиваем максимальную ширину, если нужно */
    min-width: 300px; /* Устанавливаем минимальную ширину */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

.listItem:hover {
    background-color: #f0f0f0; /* Изменение фона при наведении */
}

.submit{
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;                                                            
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  align-self: center;
}

.submit:hover{
  background: #0056b3;
}